@import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul {
    padding: 0;
}

// css-transition
.transition-card-enter {
    opacity: 0;
}
.transition-card-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}
.transition-card-enter-done {
    opacity: 1;
    transition: opacity 250ms ease-in;
}
.transition-card-exit {
    opacity: 1;
}
.transition-card-exit-active {
    opacity: 0;
    transition: opacity 250ms ease-in;
}
